<!DOCTYPE html>
<html>
  <head>
    <!-- Added with bootstrap -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <!-- --- -->

    <meta name="description" content="BXP | Un nouveau regard sur vos baux et projets immobiliers">

    <meta property="og:title" content="BXP | Un nouveau regard sur vos baux et projets immobiliers">
    <meta property="og:description" content="Conseil immobilier BtoB indépendant pour les utilisateurs">
    <meta property="og:image" content="apple-touch-icon.png">
    <meta property="og:site_name" content="bxp-conseil">

    <title>bxp. | Un nouveau regard sur vos baux et projets immobiliers</title>

    <meta name="robots" content="index,follow">

    <%= favicon_link_tag asset_path('favicon.svg') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if request.host == 'bxp-conseil.fr' %>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-48767185-4"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-48767185-4');

          document.addEventListener('turbolinks:load', event => {
           if (typeof gtag === 'function') {
             gtag('config', 'UA-48767185-4', {
               'page_location': event.data.url
             });
           }
         });
        </script>

    <% end %>

  </head>

  <body>

    <%= render "layouts/header"%>

    <%= yield %>

    <%= render "layouts/footer"%>


  </body>
</html>
